@charset "UTF-8";

body{
	font-family: Arial, sans-serif;
	background-color: #f4f6f9;
}

h1{
	text-align: center;
}

p{
	text-align: center;
}

.contenedor{
	width: 70%;
	margin: auto;
}

.menu{
	text-align:center;
	margin-bottom:20px;
}

button{
	padding: 12px 20px;
	margin: 5px;
	font-size: 16px;
	cursor: pointer;
}

.seccion{
	background: white;
	padding: 20px;
	border-radius: 8px;
}
.oculto{
	display:none;
}

.menu button.activo {
    background: #2c3e50;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}